/*
 * Billboards
 */

/* Format top "Main site" button */
.node-type-billboard #navbar > .container {
	float: right;
	position: absolute;
	right: 15px;
	top: -20px;
}

a.billboard-main-site-button,
a.billboard-main-site-button:active {
	display: block;
	padding: 0px 20px;
	background-color: #fbb040;
	color: #fff;
	font-size: 15px;
	line-height: 34px;
	text-transform: uppercase;
	text-decoration: none;
	border-radius: 0 0 10px 10px;
	-webkit-border-radius: 0 0 10px 10px;
	-moz-border-radius: 0 0 10px 10px;
	outline: none;
}

a.billboard-main-site-button:hover,
a.billboard-main-site-button:active {
	background-color: #fdaf17;
	color: #fff;
}

.node-type-billboard #block-superfish-1,
.node-type-billboard .top-menu-container .region-top-menu {
	display: none;
}


/* Reposition Cylcing UK logo on smaller screens */

@media only screen and (max-width : 767px) {
	.node-type-billboard .navbar .logo {
		top: 10px;
		left: -5px;
	}
}


.node-type-billboard .full-width-menu-container {
    height: 120px;
}

.node-type-billboard h1.page-header {
	display: none;
}

.node-type-billboard .group-header-inner-wrapper {
	width: 100%;
	position: absolute;
	bottom: 30px;
}

.node-type-billboard .group-header-inner-wrapper .field-name-title {
	padding-left: 10px;
	padding-right: 10px;
	margin-bottom: 20px !important;
}

	@media only screen and (max-width : 767px) {
		.node-type-billboard .group-header-inner-wrapper .field-name-title,
		.node-type-billboard .group-header-inner-wrapper .field-name-field-welcome-message {
			padding-left: 0;
			padding-right: 0;
			width: 90%;
			margin-left: 5%;
			margin-right: 5%;
		}
	}

/* Apply tint overlay to hero image */
/*
body.node-type-billboard .top-wrapper > span.image:after {
	display: block;
	content: "";
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.15);
	position: absolute;
	top: 0;
}
*/

/* Apply tint overlay to hero image */
/*
body.node-type-billboard .top-wrapper:hover > span.image:after {
	background-color: rgba(0,0,0,0.5);
}
*/

/* Apply blur to hero image */
body.node-type-billboard .top-wrapper picture.img-responsive {
	overflow: hidden;
}

/*
body.node-type-billboard .top-wrapper:hover > span.image img {
	filter: blur(10px);
	-webkit-filter: blur(10px);
	-moz-filter: blur(10px);
	-o-filter: blur(10px);
	-ms-filter: blur(10px);
}
*/

.node-type-billboard .field-name-title {
	color: #fff;
	width: 100%;
	text-align: center;
}

.node-type-billboard .field-name-title h1 {
	font-family: "ff-cocon-web-pro","Karla","Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size: 60px;
	font-weight: 400;
	line-height: 60px;
	margin: 0 0 20px 0;
	text-shadow: 0px 3px 0px rgba(0, 0, 0, 0.1);
}

	@media only screen and (max-width : 639px) {
		.node-type-billboard .field-name-title h1 {
		    font-size: 36px;
		    line-height: 38px;
		}
	}

	@media only screen and (min-width : 769px) and (max-width : 991px) {
		.node-type-billboard .field-name-title h1 {
		    font-size: 36px;
		    line-height: 38px;
		}
	}

.node-type-billboard #block-system-main .node .row:first-child {
	margin-bottom: 30px;
}

.node-type-billboard #block-system-main .node .row:first-child > div {
	position: relative;
	padding: 0;
	display: table;
}

.node-type-billboard .field-name-field-welcome-message {
	text-align: center;
	font-size: 18px;
	line-height: 20px;
	color: #fff;
	margin-bottom: 20px;
}

.node-type-billboard .field-name-field-markup {
	text-align: center;
}

.paragraphs-items-field-icons {
	text-align: center;
}

.paragraphs-items-field-icons img {
	width: 70px;
	height: auto;
	margin-left: auto;
	margin-right: auto;
}

.field-name-field-icons > .field-items > .field-item {
	display: inline-flex;
	border: 1px solid #fbb040;
	padding: 10px;
	border-radius: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	text-align: center;
	width: 230px;
	margin-left: 20px;
	margin-right: 20px;
	margin-bottom: 20px;
}

.field-name-field-icons > .field-items .field-name-title {
	color: #000;
	font-weight: 600;
	font-size: 22px;
    line-height: 24px;
    height: 70px;
}

.field-name-field-icons > .field-items .field-name-title:before {
	content: "";
	display: block;
	width: 120px;
	height: 5px;
	border-radius: 2.5px; 
	-webkit-border-radius: 2.5px; 
	-moz-border-radius: 2.5px;
	background-color: #fbb040;
	margin: 10px auto;
}

.field-name-field-icons > .field-items .field-name-field-subtitle {
    height: 90px;
}

	@media only screen and (min-width : 500px) and (max-width : 569px) {
		.field-name-field-icons > .field-items > .field-item {
			width: 215px;
			margin-left: 10px;
			margin-right: 10px;
		}
		.field-name-field-icons > .field-items .field-name-title {			height: 90px; }
		.field-name-field-icons > .field-items .field-name-field-subtitle { height: 90px; }
	}

	@media only screen and (min-width : 992px) and (max-width : 1199px) {
		.field-name-field-icons > .field-items > .field-item {
			width: 215px;
			margin-left: 10px;
			margin-right: 10px;
		}
		.field-name-field-icons > .field-items .field-name-title {			height: 90px; }
		.field-name-field-icons > .field-items .field-name-field-subtitle { height: 90px; }
	}

.node-type-billboard .paragraphs-items-field-icons {
	margin-bottom: 30px;
}

/* AAM - removed 19 January 2022 because the dropdown display had become corrupt, rebuilding in flexbox

.node-type-billboard .field-name-field-markup {
	margin-bottom: 60px;
}

.node-type-billboard .field-name-field-markup .select-wrapper {
	height: 60px;
}

.node-type-billboard .field-name-field-markup a {
	font-weight: 600;
	letter-spacing: 1px;
}
*/


/*
 * Billboard text paragraphs
 */

.node-billboard-text {
	margin-bottom: 60px;
}

.node-type-billboard #block-system-main .node.node-billboard-text .row:first-child > div {
	padding-left: 10px;
	padding-right: 10px;
}

.field-name-field-billboard-text {
	text-align: center;
}

.node-billboard-text .field-name-field-subtitle {
	font-family: "ff-cocon-web-pro","Karla","Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size: 24px;
	font-weight: 400;
	line-height: 24px;
	margin: 0 0 10px 0;
	text-align: center;
	color: #000;
}

.node-billboard-text .field-name-field-title {
	font-family: "ff-cocon-web-pro","Karla","Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size: 48px;
	font-weight: 400;
	line-height: 48px;
	margin: 0 0 30px 0;
	color: #009fda;
}

.node-billboard-text .field-name-body {
	font-weight: 600;
	margin: 0 auto 30px auto;
	max-width: 560px;
}

.node-billboard-text .field-name-field-body-middle {
/* 	font-weight: 600; */
	margin: 0 auto 30px auto;
	max-width: 560px;
	color: #009fda;
}

.node-billboard-text .field-name-field-body-middle:before {
	content: "";
	display: block;
	width: 120px;
	height: 5px;
	border-radius: 2.5px; 
	-webkit-border-radius: 2.5px; 
	-moz-border-radius: 2.5px;
	background-color: #fbb040;
	margin: 30px auto;
}

.node-billboard-text .field-name-field-button-a,
.node-billboard-text .field-name-field-button-b {
	margin: 0 10px 60px 10px;
	display: inline-flex;
}

@media only screen and (min-width : 1200px) {
	.node-billboard-text .field-name-field-button-a {padding-left: 120px;}
	.node-billboard-text .field-name-field-button-b {padding-right: 120px;}
}



.node-billboard-text img,
.node-billboard-text .field-name-field-body-bottom {
	display: inline-flex;
	vertical-align: top;
}

.node-billboard-text img {
	width: 448px;
	height: auto;
}

.node-billboard-text .field-name-field-body-bottom {
	width: 448px;
	height: 287px;
	background-color: #7a68ae;
	color: #fff;
	font-family: "ff-cocon-web-pro","Karla","Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size: 18px;
	font-weight: 400;
	line-height: 22px;
	padding: 20px;
	align-items: center;
	text-align: center;
}

	@media only screen and (max-width : 481px) {
		.group-billboard-text-panel {
			width: 100%;
		}
		.node-billboard-text .field-name-field-body-bottom {
			width: inherit;
			height: inherit;
		}
	}

.node-billboard-text .field-name-field-body-bottom .field-items {
	width: 100%;
}

.node-billboard-text .field-name-field-body-bottom p {
	font-weight: 600;
	font-size: 22px;
	line-height: 26px;
	margin-bottom: 20px;
}

.node-billboard-text .field-name-field-body-bottom ul {
	list-style: none;
	padding-inline-start: 0;
	margin: 0;
	-webkit-padding-start: 0;
	-moz-padding-start: 0;
}

.node-billboard-text .field-name-field-body-bottom ul li:before {
	content: url(../images/system/yellow-tick.png);
	display: inline-block;
	width: 30px;
	height: 20px;
}

.node-billboard-text .field-name-field-body-bottom ul li {
	margin-bottom: 5px;
}



/* Additional markup box above the terms and conditions */

.node-type-billboard .bottom-wrapper .field-name-field-body-bottom {
	text-align: center;
	margin-bottom: 60px;
}

.node-type-billboard .bottom-wrapper .field-name-field-body-bottom h2 {
	font-family: "ff-cocon-web-pro","Karla","Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size: 24px;
	font-weight: 400;
	line-height: 24px;
	margin: 0 0 10px 0;
	text-align: center;
	color: #000;
}

.node-type-billboard .bottom-wrapper .field-name-field-body-bottom .btn {
	margin-left: 5px;
	margin-right: 5px;
}



/* Terms and conditions */

.field-name-field-terms-and-conditions {
	max-width: 560px;
	margin: 0 auto;
}

.field-name-field-terms-and-conditions .field-label {
	font-family: "ff-cocon-web-pro","Karla","Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size: 24px;
	font-weight: 400;
	line-height: 24px;
	margin: 0 0 20px 0;
	text-align: center;
}

.field-name-field-terms-and-conditions .field-items {
    font-size: 13px;
    line-height: 17px;
    text-transform: uppercase;
}

.field-name-field-terms-and-conditions li {
	margin-bottom: 10px;
}



/*  October 2019
	Custom edits for new Join page */

body.node-type-billboard .top-wrapper span.image {
	display: block;
}

body.node-type-billboard .group-header-inner-wrapper {
	position: inherit;
	bottom: 0;
}

body.node-type-billboard .top-wrapper .group-header-inner-wrapper {
	background-color: #009fda;
	color: #fff;
	padding: 20px;
}

body.node-type-billboard .field-name-field-markup {
    margin-bottom: 0;
}



/*
 * Carousel dropdown element overrides for Billboard pages
 */

/* AAM - removed 19 January 2022 because the dropdown display had become corrupt, rebuilding in flexbox

body.node-type-billboard .select-wrapper .text,
body.node-type-billboard .field-name-field-markup .text {
	background-color: #fff;
	color: #000;
	border-top: 1px solid #fbb040;
	border-bottom: 1px solid #fbb040;
	border-left: 1px solid #fbb040;
}

body.node-type-billboard .select-wrapper .divider {
	background-color: #fff;
	border-top: 1px solid #fbb040;
	border-bottom: 1px solid #fbb040;
}

body.node-type-billboard .select-wrapper input {
	background-color: #fff;
	color: #000;
	border-top: 1px solid #fbb040;
	border-right: 1px solid #fbb040;
	border-bottom: 1px solid #fbb040;
}

body.node-type-billboard .select-wrapper input:hover,
body.node-type-billboard .select-wrapper input:focus {
	background-color: rgba(251,176,64,0.88);
	color: #fff;	
}

body.node-type-billboard .select-wrapper input:active {
	background-color: rgba(251,176,64,1);
	color: #fff;	
}

body.node-type-billboard .main-container .hero-carousel .dropdown .selected,
body.node-type-billboard .main-container .hero-carousel .dropdown li,
body.node-type-billboard .field-name-field-markup .dropdown .selected,
body.node-type-billboard .field-name-field-markup .dropdown li {
	background-color: #fff;
	color: #000;
}

body.node-type-billboard .main-container .hero-carousel .dropdown:hover,
body.node-type-billboard .main-container .hero-carousel .dropdown.focus.open,
body.node-type-billboard .field-name-field-markup .dropdown:hover,
body.node-type-billboard .field-name-field-markup .dropdown.focus.open {
	background-color: inherit;	
	color: #000;
}

body.node-type-billboard .hero-carousel form.jump-menu .dropdown div,
body.node-type-billboard .field-name-field-markup form.jump-menu .dropdown div {
	background: inherit;
	top: 0;
	border-radius: 0 0 10px 10px;
	-webkit-border-radius: 0 0 10px 10px; 
	-moz-border-radius: 0 0 10px 10px;
}

body.node-type-billboard .hero-carousel form.jump-menu.items-2 .dropdown div {top: 0px;}
body.node-type-billboard .hero-carousel form.jump-menu.items-3 .dropdown div {top: 0px;}
body.node-type-billboard .hero-carousel form.jump-menu.items-4 .dropdown div {top: 0px;}
body.node-type-billboard .hero-carousel form.jump-menu.items-5 .dropdown div {top: 0px;}
body.node-type-billboard .hero-carousel form.jump-menu.items-6 .dropdown div {top: 0px;}

body.node-type-billboard .field-name-field-markup form.jump-menu.items-2 .dropdown div {top: 0px;}
body.node-type-billboard .field-name-field-markup form.jump-menu.items-3 .dropdown div {top: 0px;}
body.node-type-billboard .field-name-field-markup form.jump-menu.items-4 .dropdown div {top: 0px;}
body.node-type-billboard .field-name-field-markup form.jump-menu.items-5 .dropdown div {top: 0px;}
body.node-type-billboard .field-name-field-markup form.jump-menu.items-6 .dropdown div {top: 0px;}

body.node-type-billboard .field-name-field-markup form.jump-menu.items-2 .dropdown div {top: 44px;}
body.node-type-billboard .field-name-field-markup form.jump-menu.items-3 .dropdown div {top: 44px;}
body.node-type-billboard .field-name-field-markup form.jump-menu.items-4 .dropdown div {top: 44px;}
body.node-type-billboard .field-name-field-markup form.jump-menu.items-5 .dropdown div {top: 44px;}
body.node-type-billboard .field-name-field-markup form.jump-menu.items-6 .dropdown div {top: 44px;}

body.node-type-billboard .main-container .hero-carousel .dropdown .selected,
body.node-type-billboard .main-container .hero-carousel .dropdown li,
body.node-type-billboard .field-name-field-markup .dropdown .selected,
body.node-type-billboard .field-name-field-markup .dropdown li {
	height: 44px;
}

body.node-type-billboard .hero-carousel form.jump-menu .dropdown,
body.node-type-billboard .field-name-field-markup form.jump-menu .dropdown {
	border-top: 1px solid #fbb040;
	border-bottom: 1px solid #fbb040;
}

@media only screen and (max-width : 619px) {
	body.node-type-billboard .main-container .hero-carousel .dropdown .selected,
	body.node-type-billboard .field-name-field-markup .dropdown .selected {
		height: 46px;
		border-top: 1px solid #fbb040;
		border-bottom: 1px solid #fbb040;
		border-left: 1px solid #fbb040;
	}
	body.node-type-billboard .hero-carousel form.jump-menu .dropdown,
	body.node-type-billboard .field-name-field-markup form.jump-menu .dropdown {
		border-top: inherit;
		border-bottom: inherit;
	}
	body.node-type-billboard .main-container .hero-carousel .dropdown.open .selected,
	body.node-type-billboard .field-name-field-markup .dropdown.open .selected {
		border-radius: 10px 0 0 0;
		-webkit-border-radius: 10px 0 0 0; 
		-moz-border-radius: 10px 0 0 0;
	}
	body.node-type-billboard .field-name-field-markup form.jump-menu.items-2 .dropdown div {top: 45px;}
	body.node-type-billboard .field-name-field-markup form.jump-menu.items-3 .dropdown div {top: 45px;}
	body.node-type-billboard .field-name-field-markup form.jump-menu.items-4 .dropdown div {top: 45px;}
	body.node-type-billboard .field-name-field-markup form.jump-menu.items-5 .dropdown div {top: 45px;}
	body.node-type-billboard .field-name-field-markup form.jump-menu.items-6 .dropdown div {top: 45px;}

	body.node-type-billboard .main-container .hero-carousel .dropdown:hover,
	body.node-type-billboard .field-name-field-markup .dropdown:hover,
	body.node-type-billboard .main-container .hero-carousel .dropdown.open,
	body.node-type-billboard .field-name-field-markup .dropdown.open {
		border-radius: 10px 0 0 10px;
		-webkit-border-radius: 10px 0 0 10px; 
		-moz-border-radius: 10px 0 0 10px;
	}
	
	body.node-type-billboard .main-container .hero-carousel .dropdown li,
	body.node-type-billboard .field-name-field-markup .dropdown li {
		border-radius: inherit;
		-webkit-border-radius: inherit;
		-moz-border-radius: inherit;
	}
}

body.node-type-billboard .hero-carousel form.jump-menu .dropdown > div,
body.node-type-billboard .field-name-field-markup form.jump-menu .dropdown > div {
	border-right: 1px solid #fbb040;
	border-bottom: 1px solid #fbb040;
	border-left: 1px solid #fbb040;
	-webkit-box-shadow: 0px 3px 0px 0px rgba(0, 0, 0, 0.1);
	-moz-box-shadow: 0px 3px 0px 0px rgba(0, 0, 0, 0.1);
	box-shadow: 0px 3px 0px 0px rgba(0, 0, 0, 0.1);
}

body.node-type-billboard .hero-carousel form.jump-menu .dropdown ul,
body.node-type-billboard .field-name-field-markup form.jump-menu .dropdown ul {
	background-color: #fff;
}

body.node-type-billboard .hero-carousel form.jump-menu .dropdown li,
body.node-type-billboard .field-name-field-markup form.jump-menu .dropdown li {
	color: #000;
}

body.node-type-billboard .hero-carousel form.jump-menu .dropdown li.focus,
body.node-type-billboard .field-name-field-markup form.jump-menu .dropdown li.focus {
    color: #fff;
    background-color: #fbb040;
}

body.node-type-billboard .hero-carousel form.jump-menu .dropdown li.active,
body.node-type-billboard .field-name-field-markup form.jump-menu .dropdown li.active {
    color: #fff;
    background-color: #fbb040;
}

body.node-type-billboard .main-container .hero-carousel .dropdown .carat,
body.node-type-billboard .field-name-field-markup .dropdown .carat {
    background: url('../images/system/drop-down-arrows-black.png') no-repeat;
}

*/

.group-header-inner-wrapper .field-name-field-markup {
	text-align: center;
}

.field-name-field-markup .select-wrapper {
	display: inline-flex;
	justify-content: center;
	align-items: center;
	border: none;
	background-color: #fff;
	color: #000;
	border-radius: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	font-size: 18px;
	line-height: 18px;
	-webkit-box-shadow: 0px 3px 0px 0px rgba(0, 0, 0, 0.1);
	-moz-box-shadow: 0px 3px 0px 0px rgba(0, 0, 0, 0.1);
	box-shadow: 0px 3px 0px 0px rgba(0, 0, 0, 0.1);
}

.field-name-field-markup .select-wrapper .text {
	padding: 12px 24px;
}

.field-name-field-markup .select-wrapper > .divider .bar {
	display: block;
	width: 1px;
	height: 42px;
	background-color: #fbb040;
}

.field-name-field-markup .select-wrapper form {
	display: inline-flex;
	justify-content: center;
	align-items: center;
	font-size: 18px;
	line-height: 18px;
}

.field-name-field-markup .select-wrapper .dropdown {
	background: #fff;
	background-color: #fff;
	text-align: left;
	font-weight: 600;
	width: 330px;
	position: relative;
}

.field-name-field-markup .select-wrapper .dropdown > div {
	position: absolute;
	margin: 0 -1px;
	top: 39px;
}

.field-name-field-markup .select-wrapper .dropdown ul {
	padding: 0;
	border-left: 1px solid #fbb040;
	border-right: 1px solid #fbb040;
	border-bottom: 1px solid #fbb040;
	border-radius: 0 0 10px 10px;
	-webkit-border-radius: 0 0 10px 10px;
	-moz-border-radius: 0 0 10px 10px;
}

.field-name-field-markup .select-wrapper .dropdown li 					{background: #ffffff;}
.field-name-field-markup .select-wrapper .dropdown li.active 		{background: #7a68ae;}
.field-name-field-markup .select-wrapper .dropdown li.focus 		{background: #fbb040;}
.field-name-field-markup .select-wrapper .dropdown.focus:after 	{background: #fbb040;}

.field-name-field-markup .select-wrapper .dropdown.focus .carat::after {
	border-top-color: #fbb040;
}

.field-name-field-markup .select-wrapper input {
	all: unset;
  cursor: pointer;
	background-color: #7a68ae;
	color: #fff;
	border-radius: 0 10px 10px 0;
	-webkit-border-radius: 0 10px 10px 0;
	-moz-border-radius: 0 10px 10px 0;
	padding: 12px 20px;
}

.field-name-field-markup .select-wrapper input:hover,
.field-name-field-markup .select-wrapper input:focus,
.field-name-field-markup .select-wrapper input:active {
	background-color: #fbb040;
}



@media only screen and (max-width : 767px) {

	.field-name-field-markup .select-wrapper {
		display: block;
		background-color: inherit;
		color: #fff;
		border-radius: 0;
		-webkit-border-radius: 0;
		-moz-border-radius: 0;
		-webkit-box-shadow: none;
		-moz-box-shadow: none;
		box-shadow: none;
}

	.field-name-field-markup .select-wrapper form {
		background-color: #fff;
		border-radius: 0 10px 10px 0;
		-webkit-border-radius: 0 10px 10px 0;;
		-moz-border-radius: 0 10px 10px 0;;
		-webkit-box-shadow: 0px 3px 0px 0px rgba(0, 0, 0, 0.1);
		-moz-box-shadow: 0px 3px 0px 0px rgba(0, 0, 0, 0.1);
		box-shadow: 0px 3px 0px 0px rgba(0, 0, 0, 0.1);			
	}

	.field-name-field-markup .select-wrapper .divider {
		display: none;
	}

	.field-name-field-markup .select-wrapper .dropdown > div {
		margin: 0;
		top: 39px;
	}
	
	.field-name-field-markup .select-wrapper .dropdown ul {
		border-left: none;
		border-right: none;
		border-bottom: none;
		border-radius: 0;
		-webkit-border-radius: 0;
		-moz-border-radius: 0;
	}
	
	.field-name-field-markup .select-wrapper input {
		border-radius: 0;
		-webkit-border-radius: 0;
		-moz-border-radius: 0;
	}
	
}

@media only screen and (max-width : 499px) {
	.field-name-field-markup .select-wrapper .dropdown {
		width: 250px;
	}	
}
