/**
 * Tabs
 * System purple: #7a68ae
 */

.nav-tabs {
  display: flex;
  justify-content: center;
	margin-top: 0;
	margin-bottom: 0;
}

.nav-tabs > li {
	margin-bottom: 0;
}

.nav-tabs > li > a {
	font-size: 13px;
  font-weight: 400;
	line-height: 1;
	border: inherit;
	color: #101920;
	text-decoration: none;
	border-radius: inherit; 
  margin: 0;
  padding: 6px 8px;
}

.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus {
	color: #101920;
	border: inherit;
	border-radius: inherit; 
}

.nav > li > a:hover,
.nav > li > a:focus {
  background-color: inherit;
  text-decoration: none;
  border-top: inherit;
  border-left: inherit;
  border-right: inherit;
}

.nav .open > a,
.nav .open > a:hover,
.nav .open > a:focus {
  background-color: #ebeef0;
  border-color: #ebeef0;
}