/* Remove default shading and gradients from buttons */
.btn,
.btn-default,
.btn-primary {
  box-shadow: inherit;
  text-shadow: inherit;
  background-image: inherit;
  filter: inherit;
}



/* Set default button styling */
.btn,
.btn-default,
.btn-primary,
.node-paragraphs .field-name-field-link a,
.paragraphs-item-text-left-and-image-right .field-name-field-links .field-item a,
.paragraphs-item-text-right-and-image-left .field-name-field-links .field-item a,
.node-type-group .main-container .view-drupal-10-link .view-content a {
	background-color: #fc5c1f;
	border: 4px solid #fc5c1f;
	color: #ffffff;
	display: inline-block;
	min-width: 140px;
  font-size: 20px;
	line-height: 1;
  font-weight: 700;
	text-decoration: none !important;
	padding: 8px 32px;
	border-radius: 10px;
}


.btn:hover,
.btn:focus,
.btn-default:hover,
.btn-default:focus,
.btn-primary:hover,
.btn-primary:focus,
.btn-white:hover,
.btn-white:focus,
.node-paragraphs .field-name-field-link a:hover,
.node-paragraphs .field-name-field-link a:focus,
.paragraphs-item-text-left-and-image-right .field-name-field-links .field-item a:hover,
.paragraphs-item-text-left-and-image-right .field-name-field-links .field-item a:focus,
.paragraphs-item-text-right-and-image-left .field-name-field-links .field-item a:hover,
.paragraphs-item-text-right-and-image-left .field-name-field-links .field-item a:focus,
.node-type-group .main-container .view-drupal-10-link .view-content a:hover,
.node-type-group .main-container .view-drupal-10-link .view-content a:focus {
	background-color: #101920;
	border: 4px solid #101920;
	color: #fff;
  box-shadow: inherit;
}

.btn:active,
.btn-default:active,
.btn-default:active:hover,
.btn-default:active:focus,
.btn-primary:active,
.btn-white:active,
.node-paragraphs .field-name-field-link a:active,
.paragraphs-item-text-left-and-image-right .field-name-field-links .field-item a:active,
.paragraphs-item-text-right-and-image-left .field-name-field-links .field-item a:active {
	background-color: #fc5c1f ;
	border: 4px solid #101920;
	color: #fff;
  box-shadow: inherit;
}



/*
 * Purple buttons
 * .btn-purple
 */

.btn-purple,
.views-submit-button .btn-default {
    background-color: #7a68ae;
    border-color: #7a68ae;
    color: #fff;
}

.btn-purple:hover,
.btn-purple:focus,
.views-submit-button .btn-default:hover,
.views-submit-button .btn-default:focus {
    background-color: #fcb040;
    border-color: #fcb040;
    color: #fff;
}

.btn-purple:active,
.views-submit-button .btn-default:active {
    background-color: #fdaf17;
    border-color: #fdaf17;
    color: #fff;
}

