
/* Sidebar / tertiary navigation */

.field-name-og-node-content-links {
	background-color: #ebeef0;
	padding: 25px 15px 15px 15px;
	margin-bottom: 20px;
	border-radius: 10px;
}

.field-name-og-node-content-links:before {
	color: #101920;
	font-size: 18px;
	line-height: 18px;
	font-weight: 400;
	border-bottom: none;
	margin: 0;
	padding: 0 5px 20px 5px;
}

.field-name-og-node-content-links h2.block-title {
	font-size: 18px;
	font-weight: 700;
	line-height: 18px;
	color: #101920;
	border-bottom: none;
	padding: 0 0 20px 0;
	margin: 0;
}

.field-name-og-node-content-links:before {
	padding: 0 0 20px 0;
}

.field-name-og-node-content-links a {
	display: inline-block;
	outline: none;
}
