.nav-tabs {
	margin-top: 50px;
	margin-bottom: 10px;
  display: flex;
  justify-content: center;
}

.nav-tabs > li {
	margin-bottom: 0;
}

.nav-tabs > li > a {
  text-decoration: none;
}

.nav-tabs > li > a:hover {
  border-color: inherit;
}

.nav > li > a:hover,
.nav > li > a:focus,
.nav .open > a,
.nav .open > a:hover,
.nav .open > a:focus {
  color: #365269;
  background-color: #ebeef0;
  border-color: #ebeef0;
}