/**
 * Women's Festival of Cycling subtheme
 */

header#navbar a.logo img {
  width: 130px;
  height: auto;
  margin-bottom: 23px;
}

@media only screen and (max-width: 767px) {
  header#navbar a.logo img {
    width: 120px;
    height: auto;
  }
}

.full-width-menu-container {
  height: 215px;
}

/*
 * Women's Festival of Cycling registration infographic
 */

#wfoc-register-events-steps {
  padding: 30px;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  background-color: #f0f0f0;
}

#wfoc-register-events-steps .inner-wrapper {
  width: 500px;
  margin: 0 auto;
  padding: 40px 20px;
}

#wfoc-register-events-steps .step {
  margin-bottom: 10px;
}

#wfoc-register-events-steps .step-1 .icon-wrapper,
#wfoc-register-events-steps .step-2 .icon-wrapper,
#wfoc-register-events-steps .step-3 .icon-wrapper {
  font-family: "ff-cocon-web-pro", "Karla", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  padding: 14px;
  width: 60px;
}

#wfoc-register-events-steps a.btn {
  width: 360px;
}

#wfoc-register-events-steps .step-4 i,
#wfoc-register-events-steps .step-5 i,
#wfoc-register-events-steps .step-6 i {
  text-align: center;
  font-size: 28px;
  line-height: 28px;
  padding: 14px;
  width: 60px;
}

/* Nudge wide group icon to centre of icon circle */
#wfoc-register-events-steps .step-4 i:before {
  position: relative;
  left: -2px;
}

#wfoc-register-events-steps .icon-wrapper,
#wfoc-register-events-steps i {
  border: 1px solid #000;
  border-radius: 30px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
}

#wfoc-register-events-steps .icon {
  display: inline-flex;
  vertical-align: middle;
  width: 60px;
  height: 60px;
  margin-right: 20px;
}

#wfoc-register-events-steps .text {
  display: inline-flex;
  vertical-align: middle;
  width: 360px;
}

#wfoc-register-events-steps .divider {
  content: "";
  display: block;
  height: 5px;
  width: 140px;
  border-radius: 2.5px;
  -webkit-border-radius: 2.5px;
  -moz-border-radius: 2.5px;
  background-color: #fbb040;
  margin: 30px auto;
}

@media screen and (min-width: 992px) and (max-width: 1199px) {
  #wfoc-register-events-steps .inner-wrapper {
    width: 480px;
  }
  #wfoc-register-events-steps .text {
    width: 350px;
  }
}

@media screen and (min-width: 680px) and (max-width: 767px) {
  #wfoc-register-events-steps .text {
    width: 370px;
  }
}

@media screen and (max-width: 679px) {
  #wfoc-register-events-steps .inner-wrapper {
    width: inherit;
  }
  #wfoc-register-events-steps .step {
    margin-bottom: 30px;
  }
  #wfoc-register-events-steps .icon {
    display: block;
    vertical-align: inherit;
    margin: 0 auto 10px;
  }
  #wfoc-register-events-steps .text {
    display: block;
    width: 100%;
    text-align: center;
  }
  #wfoc-register-events-steps a.btn {
    width: inherit;
    white-space: inherit;
    line-height: 18px;
    padding: 10px 20px;
  }
}

/*
 * Views
 */

/* Hide the mysterious repeating views filter from above the search results */
.view-display-id-wfoc_events_block > .view-filters {
  display: none;
}

/* Grid view */

.page-womensfestival-100women-2020 h1.page-header {
  text-align: center;
}

.view-biography-grid .views-exposed-form {
  background-color: #f0f0f0;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  padding: 10px;
  margin-bottom: 30px;
  text-align: center;
}

.view-biography-grid .views-exposed-widget {
  width: 100%;
}

.view-biography-grid .views-exposed-widget > label {
  font-family: "ff-cocon-web-pro", "Karla", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 18px;
  margin-bottom: 10px;
}

.view-biography-grid .form-item-field-biography-category-value {
  display: inline-flex;
  margin: 0 10px 10px 10px;
}

.view-biography-grid #edit-field-biography-category-value label {
  font-weight: 400;
  text-transform: uppercase;
  padding-bottom: 5px;
  border-bottom: 5px solid;
}

#edit-field-biography-category-value > div:nth-child(1) label {
  border-color: #333333;
}
#edit-field-biography-category-value > div:nth-child(2) label {
  border-color: #fbb040;
}
#edit-field-biography-category-value > div:nth-child(3) label {
  border-color: #009fda;
}
#edit-field-biography-category-value > div:nth-child(4) label {
  border-color: #e6007e;
}
#edit-field-biography-category-value > div:nth-child(5) label {
  border-color: #cdce00;
}

.view-biography-grid .row > div {
  padding-left: 5px;
  padding-right: 5px;
}

.view-biography-grid .views-field {
  border: 1px solid #eee;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
  text-align: center;
}

.view-biography-grid .biography_image img {
  border: 5px solid;
  border-radius: 180px;
  -webkit-border-radius: 180px;
  -moz-border-radius: 180px;
  margin-bottom: 10px;
}

.view-biography-grid .biography_image.community_champion img {
  border-color: #fbb040;
}
.view-biography-grid .biography_image.industry_mogul img {
  border-color: #009fda;
}
.view-biography-grid .biography_image.cycle_influencer img {
  border-color: #e6007e;
}
.view-biography-grid .biography_image.sporting_hero img {
  border-color: #cdce00;
}

.view-biography-grid .biography_category {
  text-transform: uppercase;
  letter-spacing: 0.5px;
  font-size: 14px;
  line-height: 14px;
  margin-bottom: 10px;
}

.view-biography-grid .biography_title {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  font-family: "ff-cocon-web-pro", "Karla", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 18px;
  margin-bottom: 10px;
}

.view-biography-grid .biography_headline {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  height: 50px;
  overflow: hidden;
  font-size: 14px;
  line-height: 16px;
  margin-bottom: 10px;
}

.view-biography-grid .biography_short_biography {
  font-size: 16px;
  line-height: 18px;
  margin-bottom: 10px;
}

.view-biography-grid .biography_link span {
  margin-right: 5px;
}

.view-biography-grid .biography_link i {
  font-size: 16px;
  line-height: 16px;
}

/* Colorbox node */

#cboxContent .node-biography {
  text-align: center;
}

#cboxContent .node-biography img {
  max-width: 140px;
  max-height: 140px;
  width: 100%;
  height: auto;
  border: 5px solid;
  border-radius: 180px;
  -webkit-border-radius: 180px;
  -moz-border-radius: 180px;
  margin: 0 auto 5px auto;
}

#cboxContent .community_champion img {
  border-color: #fbb040;
}
#cboxContent .industry_mogul img {
  border-color: #009fda;
}
#cboxContent .cycle_influencer img {
  border-color: #e6007e;
}
#cboxContent .sporting_hero img {
  border-color: #cdce00;
}

#cboxContent .node-biography .field-name-field-biography-category {
  font-size: 15px;
  line-height: 15px;
  text-transform: uppercase;
  letter-spacing: 1px;
  text-align: center;
  margin-bottom: 5px;
}

#cboxContent .node-biography h2 {
  font-family: "ff-cocon-web-pro", "Karla", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-size: 28px;
  line-height: 28px;
  margin-top: 0;
  margin-bottom: 5px;
  border-bottom: inherit;
  text-align: center;
}

#cboxContent .node-biography .field-name-field-headline {
  font-family: "ff-cocon-web-pro", "Karla", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 20px;
  text-align: center;
  margin-bottom: 10px;
}

#cboxContent .node-biography .group-social-links {
  text-align: center;
  font-size: 24px;
  line-height: 24px;
  margin-bottom: 10px;
}

#cboxContent .node-biography .group-social-links .field {
  display: inline-block;
  margin: 0 5px;
}

#cboxContent .node-biography .group-social-links a,
#cboxContent .node-biography .group-social-links a:visited {
  color: #aaa;
  outline: none;
}

#cboxContent .node-biography .group-social-links a:hover,
#cboxContent .node-biography .group-social-links a:active {
  color: #fbb040;
  outline: none;
}

/*
#cboxContent .node-biography .field-name-field-short-biography:before {
  display: block;
  content: "";
  width: 140px;
  height: 5px;
  background-color: #f6b331;
  border-radius: 2.5px;
  -webkit-border-radius: 2.5px;
  -moz-border-radius: 2.5px;
  position: relative;
  margin: 0 auto 15px auto;
}
*/

#cboxContent .node-biography .field-name-field-short-biography {
  font-size: 14px;
  line-height: 18px;
  margin-bottom: 10px;
}

#cboxContent .node-biography .field-name-view-full-node a,
#cboxContent .node-biography .field-name-view-full-node a:visited {
  font-family: "Karla", "Helvetica Neue", Helvetica, Arial, sans-serif;
  display: inline-block;
  min-width: 140px;
  font-size: 14px;
  line-height: 28px;
  font-weight: 400;
  text-transform: uppercase;
  text-decoration: none !important;
  padding: 0 18px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  background-color: #fff;
  color: #000;
  border: 1px solid #fbb040;
}

#cboxContent .node-biography .field-name-view-full-node a:hover {
  background-color: #fbb040;
  color: #fff;
  border: 1px solid #fbb040;
}

/* Raleigh and Cycling UK logos for 2020 */

.wfoc-company-logos {
  position: absolute;
  float: right;
  top: 14px;
  right: 0;
}

.wfoc-company-logos a {
  outline: none;
}

.wfoc-company-logos .cyclinguk {
  margin-left: 20px;
}

.wfoc-company-logos .raleigh img {
  width: 180px;
  margin-top: 3px;
}
.wfoc-company-logos .cyclinguk img {
  width: 110px;
}

@media screen and (min-width: 992px) and (max-width: 1199px) {
  .wfoc-company-logos .raleigh img {
    width: 180px;
    margin-top: 3px;
  }
  .wfoc-company-logos .cyclinguk img {
    width: 110px;
  }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
  .wfoc-company-logos .raleigh img {
    width: 150px;
    margin-top: 8px;
  }
  .wfoc-company-logos .cyclinguk img {
    width: 90px;
    margin-top: 4px;
  }
  .wfoc-company-logos .cyclinguk {
    margin-left: 5px;
  }
}

@media screen and (max-width: 767px) {
  .wfoc-company-logos {
    width: 100%;
    background-color: #f0f0f0;
    padding: 10px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
  }
  .wfoc-company-logos .raleigh img {
    width: 160px;
    margin-top: 16px;
  }
  .wfoc-company-logos .cyclinguk img {
    width: 100px;
    margin-top: 4px;
  }
  .wfoc-company-logos .cyclinguk {
    margin-left: 0;
    float: right;
  }
}

