/**
 * Place your custom styles here.
 */



/**
 * Links
 */

a {
	color: #009ee1;
}

a:hover {
	color: #bc1512;
}



/*
 * Standard defaults
 */

.btn:hover,
.btn:focus,
.more-link a:hover,
.more-link a:focus,
.feed-icon a:hover:before,
.feed-icon a:focus:before {
	background-color: #fbb040;
    color: #fff;
}

.btn:active,
.more-link a:active,
.feed-icon a:active:before {
	background-color: #d21714;
    color: #fff;
    box-shadow: inherit;
}



/*
 * Transparent buttons
 * .btn-transparent
 */

.btn-transparent {
    border-color: #bc1512;
}

.btn-transparent:hover,
.btn-transparent:focus {
    background-color: #bc1512;
    border-color: #bc1512;
}

.btn-transparent:active {
    background-color: #bc1512;
    border-color: #bc1512;
}



/*
 * Standard and Primary buttons
 * .btn-standard
 * .btn-primary
 *
 * Comments are themed in comments.css
 */

.more-link a,
.feed-icon a:before {
    background-color: #fff;
    border: 1px solid #bc1512;
    color: #000;
}

.btn-standard,
.btn-primary,
.more-link a,
/* .view-accordion .ui-widget-content a, */
.feed-icon a:before,
button#edit-reset {
    background-color: #fff;
    border-color: #bc1512;
    color: #000;
}

.btn-standard a,
.btn-primary a {
    color: #000;
}

.btn-standard:hover,
.btn-standard:focus,
.btn-primary:hover,
.btn-primary:focus,
.more-link a:hover,
.more-link a:focus,
/* .view-accordion .ui-widget-content a:hover,
.view-accordion .ui-widget-content a:focus, */
.feed-icon a:hover:before,
.feed-icon a:focus:before,
button#edit-reset:hover,
button#edit-reset:focus {
	color: #fff;
    background-color: #bc1512;
    border-color: #bc1512;
}

.btn-standard:active,
.btn-primary:active,
.more-link a:active,
/* .view-accordion .ui-widget-content a:active, */
.feed-icon a:active:before,
button#edit-reset:active {
	color: #fff;
    background-color: #d21714;
    border-color: #d21714;
}

.btn-standard:hover a,
.btn-standard:focus a,
.btn-standard:active a,
.btn-primary:hover a,
.btn-primary:focus a,
.btn-primary:active a {
    color: #000;
}

.btn-primary:active:hover,
.btn-primary.active:hover,
.btn-primary:active:focus,
.btn-primary.active:focus,
.btn-primary.focus:active,
.btn-primary.active.focus {
    background-color: #d21714;
    border-color: #d21714;
    color: #fff;
}

button#edit-reset:hover,
button#edit-reset:focus,
button#edit-reset:active {
	color: #fff;
}



/*
 * White buttons
 * .btn-white
 */

.btn-white,
a.group.subscribe,
a.group.unsubsribe {
    background-color: #fff;
    border-color: #fff;
    color: #000;
}

.btn-white a {
    color: #000;
}

.btn-white:hover,
.btn-white:focus,
a.group.subscribe:hover,
a.group.unsubsribe:hover,
a.group.subscribe:focus,
a.group.unsubsribe:focus {
    background-color: #bc1512;
    border-color: #bc1512;
}

.btn-white:active,
a.group.subscribe:active,
a.group.unsubsribe:active {
    background-color: #d21714;
    border-color: #d21714;
}

.btn-white:hover a,
.btn-white:focus a,
.btn-white:active a {
    color: #fff;
}



/*
 * Purple buttons
 * .btn-purple
 */

.btn-purple,
button.form-submit,
button#edit-submit-events,
button#edit-submit-groups {
    background-color: #006633;
    border-color: #006633;
}

.btn-purple:hover,
.btn-purple:focus,
button.form-submit:hover,
button.form-submit:focus,
button#edit-submit-events:hover,
button#edit-submit-events:focus,
button#edit-submit-groups:hover,
button#edit-submit-groups:focus {
    background-color: #bc1512;
    border-color: #bc1512;
}

.btn-purple:active,
button.form-submit:active,
button#edit-submit-events:active,
button#edit-submit-groups:active {
    background-color: #d21714;
    border-color: #d21714;
}



/*
 * Sign up to our newsletter button
 */

.newsletter-signup button.form-submit {
	border-color: #bc1512;
}

.newsletter-signup button.form-submit:hover,
.newsletter-signup button.form-submit:focus {
    background-color: #bc1512;
    border-color: #bc1512;
}

.newsletter-signup button.form-submit:active {
    background-color: #d21714;
    border-color: #d21714;
}




.btn-default:active:hover,
.btn-default.active:hover,
.open > .dropdown-toggle.btn-default:hover,
.btn-default:active:focus,
.btn-default.active:focus,
.open > .dropdown-toggle.btn-default:focus,
.btn-default.focus:active,
.btn-default.active.focus,
.open > .dropdown-toggle.btn-default.focus {
    background-color: #d21714;
    border-color: #d21714;
}



/*
 * System
 */

.btn-success:hover {
    background-color: #449d44 !important;
}



/*
 * Listings
 */

.view.listing-page a:hover .btn {
    background-color: #bc1512;
    color: #fff;
}

.view.listing-page a:active .btn {
	border-color: #d21714;
    background-color: #d21714;
    color: #fff;
}