.top-left-wrapper.col-sm-8 {
	width: 100%;
	padding: 0 15px;
	background-color: #fff;
}
.top-right-wrapper.col-sm-4 {
	display: none;
}

.field-name-share-buttons {
	display: none;
}

.row.top-middle-row {
    margin-bottom: 0;
}
