.paragraphs-item-youtube-video-player {
  text-align: center;
  margin: 0 auto 60px auto;
}

.paragraphs-item-youtube-video-player .field-name-field-subtitle {
  text-align: center;
  font-family: "ff-cocon-web-pro","Karla","Helvetica Neue",Helvetica,Arial,sans-serif;
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
  margin-bottom: 30px;
}
