.nav-tabs {
	margin-top: 50px;
	margin-bottom: 10px;
}

.nav-tabs > li {
	margin-bottom: 0;
}

.nav-tabs > li > a {
	font-size: 11px;
	line-height: 11px;
	text-transform: uppercase;
	border: inherit;
	color: $black;
	text-decoration: none;
	border-radius: inherit; 
	-webkit-border-radius: inherit; 
	-moz-border-radius: inherit;
    border-bottom: 4px solid $white;
    outline: none;
}

.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus {
	color: $black;
	border: inherit;
	border-radius: inherit; 
	-webkit-border-radius: inherit; 
	-moz-border-radius: inherit;
    border-bottom: 4px solid $purple;
}

.nav > li > a:hover,
.nav > li > a:focus {
    background-color: inherit;
    text-decoration: none;
    border-bottom: 4px solid $purple;
    border-top: inherit;
    border-left: inherit;
    border-right: inherit;
}
