header.container-fluid {
  padding: 0;
  background-color: #fc5c1f;
}

.header-container-bottom,
header .container-bottom {
  padding: 20px 0;
  background-color: #ffffff;
}

header .inner-wrapper  > .row {
  display: flex;
  align-items: center;
}


header#page-header {
	display: none;
}

header a.logo {
  background-color: inherit !important;;
}

header .logo img {
	width: 164px;
	height: auto;
  margin-top: 20px;
  margin-bottom: 20px;
}

header .container-right {
	display: flex;
	justify-content: flex-end;
}

@media only screen and (max-width : 992px) {

  .header-container-bottom,
	#block-tb-megamenu-menu-mega-main-menu,
	#block-tb-megamenu-menu-mega-secondary-menu {
		display: none;
	}
}

@media only screen and (min-width : 993px) {
	.site-mobile-menu-block {
		display: none;
	}
}

