.tb-megamenu-menu-mega-secondary-menu ul.tb-megamenu-nav {
  display: flex;
  flex-direction: row;
  gap: 0px;
}

.tb-megamenu-menu-mega-secondary-menu ul.tb-megamenu-nav a {
  display: flex;
  width: inherit;
}

.tb-megamenu-menu-mega-secondary-menu .nav > li > a {
  border-right: inherit;
  color: inherit;
  font-weight: inherit;
  text-decoration: none;
  text-transform: capitalize;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  font-size: 18px;
  line-height: 18px;
  font-weight: 700;
  width: 170px;
  height: 36px;
  border-radius: 10px;
}

.tb-megamenu-menu-mega-secondary-menu .nav > li > a:hover,
.tb-megamenu-menu-mega-secondary-menu .nav > li > a:focus {
  border-bottom: inherit;
  color: inherit;
  text-decoration: none;
  text-shadow: none;
  outline: none;
}

.tb-megamenu-menu-mega-secondary-menu .nav > li.navbtn > a       {background-color: #ffffff;}
.tb-megamenu-menu-mega-secondary-menu .nav > li.navbtn > a:hover {background-color: #101920; color: #ffffff}

.tb-megamenu-menu-mega-secondary-menu .nav > li.navbtn.navbtn-primary > a       {background-color: #fc5c1f;}
.tb-megamenu-menu-mega-secondary-menu .nav > li.navbtn.navbtn-primary > a:hover {background-color: #101920;}


.not-logged-in .tb-megamenu-menu-mega-secondary-menu .menu-item-account,
.not-logged-in .tb-megamenu-menu-mega-secondary-menu .menu-item-benefits,
.not-logged-in .tb-megamenu-menu-mega-secondary-menu .menu-item-search {
  display: none;
}

.logged-in .tb-megamenu-menu-mega-secondary-menu .menu-item-account,
.logged-in .tb-megamenu-menu-mega-secondary-menu .menu-item-join,
.logged-in .tb-megamenu-menu-mega-secondary-menu .menu-item-search {
  display: none;
}
